# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
db.sqlite3
*.sqlite3

# Static & media files
staticfiles/
media/

# Environment variables
.env

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
db.sqlite3
*.sqlite3

# Static & media files
staticfiles/
media/

# Environment variables
.env

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs